<script type="text/javascript" charset="utf-8">
            $(function() {
                window.prettyPrint && prettyPrint();

                var baseLayer = L.tileLayer(
                    'http://{s}.tile.cloudmade.com/ad132e106cd246ec961bbdfbe0228fe8/997/256/{z}/{x}/{y}.png',{
                        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                        maxZoom: 18
                    }
                );

                var heatmapLayer = L.TileLayer.heatMap({
                    radius: 20,
                    opacity: 0.8,
                    gradient: {
                        0.45: "rgb(0,0,255)",
                        0.55: "rgb(0,255,255)",
                        0.65: "rgb(0,255,0)",
                        0.95: "yellow",
                        1.0: "rgb(255,0,0)"
                    }
                });

                heatmapLayer.addData(testData.data);

                var overlayMaps = {
                    'Heatmap': heatmapLayer
                };

                var controls = L.control.layers(null, overlayMaps, {collapsed: false});

                  var map = new L.Map('heatmapArea', {
                    center: new L.LatLng(51.505, -0.09),
                    zoom: 6,
                    layers: [baseLayer, heatmapLayer]
                });

                controls.addTo(map);
                // make accessible for debugging
                layer = heatmapLayer;
            });
        </script>
<div class="row-fluid">
  <div class="span9">
    <h1> <%= @article.title %></h1>
    <p><small class="pull-left">
    	<%= @article.author %>
       </small>
       <small class="pull-right">
       	<%= @article.date %>
       </small>
    </p>
    <p><hr/></p>
      <p><%= @article.content.gsub(/^(.*)$/, '<p>\1</p>').html_safe%></p>
    <div id="heatmapArea" class="well" style="width:610px;padding:0;height:400px;cursor:pointer;position:relative;"></div>
  <div class="span3">
  	<div id="Lat"></div>
  	<div id="Long"></div>
  </div>

</div>
<% s="" %>
<% @article.visitors.each_with_index do |visitor,i| %>
  <% if i != 0 %>
    <% s <<",{lat: #{visitor.latitude.round(4)}, lon: #{visitor.longitude.round(4)}, value: #{visitor.weight.to_i}}" %>
  <% else %>
    <% s << "{lat: #{visitor.latitude.round(4)}, lon: #{visitor.longitude.round(4)}, value: #{visitor.weight.to_i}}" %>
  <% end %>
<% end %>
<script type="text/javascript" charset="utf-8">
            var testData={
            max: 46,
            data: [<%= s %>]
        };
    </script>
